body {
  margin: 2em 0;
}

a {
  font-weight: normal;
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #111;
  text-decoration: none;
}

a.active {
  font-weight: bold;
  color: #111;
}


h2{
  text-align: center;
  margin: 30px 0px;
  font-size: 30px;
  color: #333;
}

.connection-msg{
  background: #CCFFBB;
  border: 1px solid #BCFFA6;
  font-size: 14px;
  color:  #333;
  margin: 20px 0px;
  border-radius: 3px;
}

input.form-control{
  width: calc(100% - 60px);
  font-size: 12px;
  padding: 0px 40px 0px 20px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
  max-width: 300px;
  background: url("icons/icon-search.png") center right 10px no-repeat;
}

.table-striped{
  float: left;
  width: 100%;
  margin-top: 20px;
}

.table-striped thead tr  {
  background-color: #ededed;
  padding: 10px 15px;
}



.table-striped td  {
  font-size: 13px;
  color: #555;
}